ShakeService/ShakeService.xcodeproj/xcuserdata/ikercasillas.xcuserdatad/xcschemes/xcschememanagement.plist
ShakeService/ShakeService.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ShakeService/ShakeService.xcodeproj/project.xcworkspace/xcuserdata/ikercasillas.xcuserdatad/UserInterfaceState.xcuserstate
ShakeService/.DS_Store
